.slick-dots li button:before {
  color: white; /* Custom color for dots */
}

.slick-dots li.slick-active button:before {
  color: white; /* Active dot color */
}

.slick-slide {
  transition: opacity 0.5s ease-in-out;
}

.slick-prev, .slick-next {
  z-index: 1;
}
